.section {
  display: flex;
  flex-direction: column;

  max-width: 100%;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 44px;
  text-align: left;
  letter-spacing: -0.97px;
  line-height: 62px;
  color: #1e1e1e;
  font-weight: 700;
  margin-bottom: 100px;
}

.highlight {
  font-size: 52px;
  letter-spacing: -1.14px;
  text-align: center;
  font-weight: 800;
  line-height: 70px;
}

.flex {
  display: flex;
  align-items: center;
  gap: 110px;
}
.flex_container {
  position: relative;
}

.item_container {
  width: 400px;
  display: inline-block;
  height: 400px;
  filter: blur(30px);
  border-radius: 200px;
  opacity: 0.3;
  z-index: 0;
}
.item {
  text-align: center;
  font-size: 44px;
  font-weight: 700;
  position: absolute;
  line-height: 70px;
  letter-spacing: -0.97px;
  color: #1e1e1e;
  z-index: 10;
  filter: blur(0px);
  top: 125px;
  left: 22px;
  opacity: 1;
}
.yellow {
  background-color: #fff0c6;
}

.red {
  background-color: #f8d4d2;
}

.green {
  background-color: #ddfcdb;
}
