.section {
  width: 100vw;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 131px;
  align-items: center;
}

.pdf_container {
  visibility: hidden;
}

.pdf {
  height: 842px;
  width: 100%;
  margin: 30px;
  background-color: gray;
}
