.progressbar_container {
  text-align: left;
  font: normal normal normal 28px/33px;
  letter-spacing: -0.98px;
  color: #7bc277;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 28px;
  position: relative;
}

.progressbar {
  position: relative;

  width: 510px;
  background: #e6e6e6 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 0.49;
  height: 17px;
}

.gray {
  color: #a8a8a8;
}

.bar_container {
  position: relative;
  height: 17px;
}

.progress {
  position: absolute;
  top: 0;
  bottom: 0;
  background: #7bc277 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;

  height: 17px;
}

.one {
  width: calc(510px / 7);
}

.two {
  width: calc(510px / 7 * 2);
}

.three {
  width: calc(510px / 7 * 3);
}

.four {
  width: calc(510px / 7 * 4);
}

.five {
  width: calc(510px / 7 * 5);
}

.six {
  width: calc(510px / 7 * 6);
}

.seven {
  width: calc(510px);
}
