.blob {
  background: #caecc4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 388px;
  width: 388px;
  filter: blur(37px);

  transform: scale(1);
}

.small_blob {
  background: #efffeb;
  border-radius: 50%;

  height: 284px;
  width: 284px;
  filter: blur(40px);

  transform: scale(1);
}

.active {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
